# User Input

In [1]:
a = 21
print(a)

21

In [7]:
a = input() # always returns string
print(a)

adfdsf
adfdsf

In [13]:
a = int(input('Enter a number: ')) # always returns string
print(a + 23)

Enter a number: 98
121

In [17]:
name = input('Enter your name: ') # always returns string
print('Your name is ' + name)

Enter your name: 1234
Your name is 1234

# Loop

In [22]:
numbers = [1, 56, 78, 8]

for n in numbers:
    print(n)
    print('ok')
print('not')

1
ok
56
ok
78
ok
8
ok
not

In [30]:
for i in range(len(numbers)):
    print(numbers[i])

1
56
78
8

In [29]:
# for(i=0; i<10; i++){}
# range
for i in range(2,100,5):
    print(i, end = ' ')

2 7 12 17 22 27 32 37 42 47 52 57 62 67 72 77 82 87 92 97

Enter number: 89
89

In [39]:
# print even number
for i in range(0,10,2):    
    print(i)

0
2
4
6
8

In [40]:
# print even number
for i in range(10):  
    if i % 2 == 0:
        print(i)

0
2
4
6
8

In [41]:
# print even number
for i in range(10):  
    if i % 2 == 1:
        continue
    print(i)

0
2
4
6
8

In [43]:
# indent
i = 7
if i < 5: # () not required, {} not required
    print('okay')
    print('fine')
else:
    print('bad')
print('not okay') # will be executed in each run

bad
not okay

In [15]:
# loop
for i in range(10,100,10):
    print(i)
    print("ok")
print("done")

10
ok
20
ok
30
ok
40
ok
50
ok
60
ok
70
ok
80
ok
90
ok
done

In [ ]:
myjob = "bangladesh"
for c in 'myjob': 
    print(c,end='\n')

# IF, IF ELSE, ELSE IF

In [46]:
# if
a = 1
if a > 2:
    print ('greater')

In [47]:
# if-else
a = 1
if a > 2:
    print ('greater')
else:
    print( 'smaller')

smaller

In [51]:
a = 77
if a < 10:
    print('small')
elif a < 20:
    print('medium')
elif a < 50:
    print('larger')
else:
    print('out of range')

out of range

# Method

In [53]:
# define method
def addnumbers(a, b): # add numbers and return result
    # logic
    c = a + b
    return c

In [54]:
addnumbers(8, 9) # use or call method

17

In [55]:
addnumbers(33, 66)

99

In [1]:
# add list values
def addValues(num):
    sum = 0
    for n in num:
        sum = sum + n
    return sum

In [3]:
v = [5, 4,12, 7]
addValues([])

0

In [61]:
v = [5, 4,12, 7, 5, 4,12, 7, 5, 4,12, 7]
addValues(v)

84

In [62]:
# task: write a method which will add numbers of two different lists
# returns another list
# Example:
# [3,4,5,1]
# [6,7,2,8]
# output: [9,11,7,9]
def addTwoList():
    list1=[3,4,5,1]
    list2=[6,7,2,8]
    sumList=[]
    for n in range(len(list1)):
        s=list1[n]+list2[n]
        sumList.append(s)
    print(sumList)

In [63]:
 addTwoList()

[9, 11, 7, 9]

In [61]:
# method/function
def multiTable(n, r=10):
    for i in range(1,r+1):
        print("{}X{}={}".format(n,i,n*i))

In [69]:
multiTable(17,15)

17X1=17
17X2=34
17X3=51
17X4=68
17X5=85
17X6=102
17X7=119
17X8=136
17X9=153
17X10=170
17X11=187
17X12=204
17X13=221
17X14=238
17X15=255

In [70]:
multiTable(5)

5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [43]:
# task
# define a method to print first name and last name from full name

# ex: input: Arafat Rahman 
# output: 
#first name: Arafat
#last name: Rahman

# getNames('Arafat Rahman')

def getNames():
     name=input("input : ")
     n=name.split(" ")
     print("first name : "+n[0])
     print("last name : "+n[1])

In [44]:
getNames()

input : Arafat Rahman
first name : Arafat
last name : Rahman

## Lesson 2 (String)

In [6]:
s1 = ''
s2 = "spam's"
block = """..."""
s3 = r'\temp\spam'
s4 = u'spam'
s1 + s2
s2 * 3

s2[i]
s2[i:j]
len(s2)

"a %s parrot" % type 
s2.find('pa')
s2.rstrip( )
s2.replace('pa', 'xx')
s1.split(',')
s1.isdigit( )
s1.lower( )

NameError: name 'i' is not defined

In [7]:
'shrubbery', "shrubbery"

('shrubbery', 'shrubbery')

In [8]:
'knight"s', "knight's"

('knight"s', "knight's")

In [10]:
title = "Meaning " 'of' " Life"
title

'Meaning of Life'

In [11]:
'knight\'s', "knight\"s"

("knight's", 'knight"s')

In [16]:
s = 'a\nb\tc'
s

'a\nb\tc'

In [18]:
print (s)

a
b	c

In [20]:
s = 'a\0b\0c'
s

'a\x00b\x00c'

In [21]:
u'spam'

'spam'

In [22]:
'ni' + u'spam'

'nispam'

In [25]:
exclamation = "Ni"
"The knights who say %s!" % exclamation

'The knights who say Ni!'

## Lesson 3 (List and Dictionaries)

In [26]:
len([1, 2, 3])

3

In [27]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [28]:
['Ni!'] * 4

['Ni!', 'Ni!', 'Ni!', 'Ni!']

In [29]:
3 in [1, 2, 3]

True

In [32]:
for x in [1, 2, 3]: 
    print (x)

1
2
3

# Lesson 4 (Tuples)