# Example of Number operations

In [2]:
12 + 89

101

In [5]:
a = 123 / 22
print(a)

5.590909090909091

In [6]:
b = a*8
print(b)

44.72727272727273

In [3]:
2 ** 5

32

In [1]:
54+78

132

In [2]:
2*4

8

In [3]:
4**8

65536

In [4]:
4.98383*5

24.919150000000002

In [7]:
print (3.1415*2)

6.283

In [8]:
import math
math.pi

3.141592653589793

In [10]:
math.sqrt(911)

30.18277654557314

In [11]:
import random
random.random()

0.7553765681468546

In [18]:
random.choice([2,3,8,9])

3

In [16]:
import math
math.pi

3.141592653589793

In [17]:
math.sqrt(15)

3.872983346207417

In [11]:
print(1+2)
print(a*4)
print(a/b)

3
22.363636363636363
0.125

In [4]:
na = 'Bangladesh'

In [9]:
na[6:9]

'desh'

# Check object type

In [13]:
print(type(a))
print(type(b))

<class 'float'>
<class 'float'>

In [14]:
c = 123
print(type(c))

<class 'int'>

In [15]:
d = '123'
print(type(d))

<class 'str'>

# Example of String operations

In [18]:
name = 'asif "rahman'
print(name)

asif "rahman

In [19]:
name = "asif 'rahman"
print(name)

asif 'rahman

In [22]:
'asif ' * 5

'asif asif asif asif asif asif asif '

In [24]:
'asif '+'rahman'

'asif rahman'

In [32]:
name = 'Afsar Mahmud sayed'
sub = 'sar'
name.count(sub)

1

In [60]:
name[0:5]

'Afsar'

In [56]:
name[-3:]

'yed'

In [33]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [34]:
name.islower()

False

In [35]:
mystring = 'I am right\nHe is fine\nThis it okay'
mystring.splitlines()

['I am right', 'He is fine', 'This it okay']

In [37]:
separator = '=='
mystrings = ['Himel', 'Liton', 'Hasan']
separator.join(mystrings)

'Himel==Liton==Hasan'

In [38]:
help(mystring.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [20]:
color='Red'
len(color)

3

In [21]:
color[0]

'R'

In [22]:
color[1]

'e'

In [23]:
color[-1]

'd'

In [24]:
color[-2]

'e'

In [25]:
color[len(color)-1]

'd'

In [26]:
color

'Red'

In [27]:
color[1:3]

'ed'

In [28]:
color[1:]

'ed'

In [29]:
color

'Red'

In [30]:
color[:3]

'Red'

In [31]:
color[:-1]

'Re'

In [32]:
color[:]

'Red'

In [33]:
color+'White'

'RedWhite'

In [34]:
color

'Red'

In [35]:
color*8

'RedRedRedRedRedRedRedRed'

In [36]:
color

'Red'

In [46]:
color='Z'+ color[1:]
color

'Zed'

In [49]:
color.find('e')

1

In [54]:
color.replace('ed','whi')

'Zwhi'

In [55]:
color

'Zed'

In [56]:
all='red,white,green'
all.split(',')

['red', 'white', 'green']

In [58]:
color.upper()

'ZED'

In [59]:
color.isalpha()

True

In [64]:
all='red,white,green,dd\n'
all=all.rstrip()
all

'red,white,green,dd'

In [65]:
dir(color)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [66]:
color='A\nB\tC'
len(color)

5

In [67]:
ord('\n')

10

In [69]:
color='A\0B\0C'
len(color)

5

In [71]:
text=msg = """
aaaaaaaaaaaaa
bbb'''bbbbbbbbbb""bbbbbbb'bbbb
cccccccccccccc"""
text

'\naaaaaaaaaaaaa\nbbb\'\'\'bbbbbbbbbb""bbbbbbb\'bbbb\ncccccccccccccc'

In [72]:
import re

In [74]:
match = re.match('Hello[ \t]*(.*)world', 'Hello Python world')

In [75]:
match.group(1)

'Python '

# List

In [41]:
data = [21,['rahman', 56000], 4.50, 'Dhaka']

In [61]:
data[0]

[21, ['rahman', 56000]]

In [63]:
data[0:2]

[21, ['rahman', 56000]]

In [45]:
data[1]

['rahman', 56000]

In [46]:
data[1][0]

'rahman'

In [47]:
len(data)

4

In [50]:
data[-1]

'Dhaka'

In [64]:
data

[21, ['rahman', 56000], 4.5, 'Dhaka']

In [68]:
data.append(100)
print(data)

[21, ['rahman', 56000], 4.5, 'Dhaka', 100, 100]

In [72]:
data.remove(4.5)
print(data)

[21, ['rahman', 56000], 'Dhaka', 100, 100]

In [73]:
data.pop(1)
print(data)

[21, 'Dhaka', 100, 100]

In [66]:
dir(data)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [76]:
box=[134,'bat',567]
len(box)

3

In [77]:
box[0]

134

In [78]:
box[:-1]

[134, 'bat']

In [79]:
box + [4, 5, 6]

[134, 'bat', 567, 4, 5, 6]

In [80]:
box

[134, 'bat', 567]

In [82]:
box.append('flower')
box

[134, 'bat', 567, 'flower', 'flower']

In [83]:
box.pop(2)

567

In [84]:
box

[134, 'bat', 'flower', 'flower']

In [85]:
t=['kk','ll','gg']

In [89]:
t.sort()
t

['gg', 'kk', 'll']

In [91]:
t.reverse()
t

['gg', 'kk', 'll']

In [92]:
box

[134, 'bat', 'flower', 'flower']

In [93]:
box[99]

IndexError: list index out of range

In [94]:
box[99]=1

IndexError: list assignment index out of range

In [96]:
nest=[[3,2,1],[9,8,7],[6,7,8]]
nest

[[3, 2, 1], [9, 8, 7], [6, 7, 8]]

In [97]:
nest[1]

[9, 8, 7]

In [98]:
nest[1][2]

7

In [100]:
col2 = [row[1] for row in nest]

In [101]:
col2

[2, 8, 7]

In [102]:
nest

[[3, 2, 1], [9, 8, 7], [6, 7, 8]]

In [103]:
[row[1] + 1 for row in nest]

[3, 9, 8]

In [104]:
[row[1] for row in nest if row[1] % 2 == 0]

[2, 8]

In [106]:
diag = [nest[i][i] for i in [0, 1, 2]]
diag

[3, 8, 8]

In [108]:
doubles = [c * 2 for c in 'spam']
doubles

['ss', 'pp', 'aa', 'mm']

# Dictionary

In [74]:
person = {'Age':21,'Name':['niaz','rahman'], 'Salary':56000, 'Rating':4.50}

In [76]:
person['Rating']

4.5

In [25]:
len(person)

4

In [78]:
#person.has_key('Name')
'Name' in person.keys()

True

In [79]:
'niaz' in person['Name']

True

In [80]:
dir(person)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [111]:
eat={'food': 'mango', 'quantity': 4, 'color': 'green'}
eat['food']

'mango'

In [114]:
eat['quantity'] += 1
eat

{'food': 'mango', 'quantity': 7, 'color': 'green'}

In [118]:
eat={}
eat['name']='shojib'
eat['job']='SQT'
eat['age']=20
eat

{'name': 'shojib', 'job': 'SQT', 'age': 20}

In [120]:
print (eat['name'])

shojib

In [128]:
data = {'name': {'first': 'Bob', 'last': 'Smith'},'job': ['dev', 'mgr'],
'age': 40.5}
data['name']

{'first': 'Bob', 'last': 'Smith'}

In [129]:
data['name']['last']

'Smith'

In [130]:
data['job']

['dev', 'mgr']

In [131]:
data['job'][-1]

'mgr'

In [133]:
data['job'].append('janitor')
data

{'name': {'first': 'Bob', 'last': 'Smith'},
 'job': ['dev', 'mgr', 'janitor', 'janitor'],
 'age': 40.5}

In [150]:
D = {'a': 1, 'b': 2, 'c': 3}
D

{'a': 1, 'b': 2, 'c': 3}

In [151]:
Ks = D.keys( )

In [152]:
Ks

dict_keys(['a', 'b', 'c'])

In [156]:
squares = [x ** 2 for x in [1, 2, 3, 4, 5]]
squares

[1, 4, 9, 16, 25]

In [159]:
squares = []
for x in [1, 2, 3, 4, 5]:squares.append(x ** 2)

In [160]:
squares

[1, 4, 9, 16, 25]

In [161]:
D

{'a': 1, 'b': 2, 'c': 3}

In [163]:
D['e'] = 99
D
{'a': 1, 'c': 3, 'b': 2, 'e': 99}

{'a': 1, 'c': 3, 'b': 2, 'e': 99}